
h1.title {
    margin-bottom: 5px;
}

hr.title {
  border: 2px solid #ce0000ab;
  width: 20%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 40px;
  border-radius: 3px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ff5f01;
}

hr.title:before {
    content: ''
}

hr.title:after {
    content: ''
}
